WS_AOAI_APIKEY =
WS_AOAI_ENDPOINT = 
WS_CHATCOMPLETION_DEPLOYMENTNAME = 

WS_EMBEDDING_DEPLOYMENTNAME = 
WS_SEARCH_ENDPOINT = 
WS_SEARCH_APIKEY = 
WS_ASSET_FOLDER = ../../../../assets
WS_AOAI1106_APIKEY = 
WS_AOAI1106_ENDPOINT = 
WS_AOAI1106_DEPLOYMENTNAME = 
WS_AOAIVISION_APIKEY = 
WS_AOAIVISION_ENDPOINT = 
WS_AOAIVISION_DEPLOYMENTNAME = 
WS_STORAGE_CONNECTIONSTRING = 
