WS_AOAI_APIKEY = 
WS_AOAI_ENDPOINT = 
WS_CHATCOMPLETION_DEPLOYMENTNAME = 
WS_EMBEDDING_DEPLOYMENTNAME = 
WS_IMAGE_DEPLOYMENTNAME = 
WS_VISION_APIKEY = 
WS_VISION_ENDPOINT = 
WS_STORAGE_CONNECTIONSTRING = 
WS_SEARCH_ENDPOINT = 
WS_SEARCH_APIKEY = 
WS_ASSETS_FOLDER = ../../assets

